<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{usersDetails.login}}</a>
    <form class="d-flex" (ngSubmit)="findUser()">
      <input class="form-control me-2" placeholder="Search Github Username" [(ngModel)]="searchUser" name="searchUser">
      <button class="btn btn-outline-success" type="submit">Search </button>
    </form>
  </div>
</nav>

<div *ngIf="usersDetails">
  <div class="panel panel-default">
  
    <div class="col-sm-12">
      <hr>
      <div class="jumbotron">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 class="text-center">{{usersDetails.name}} Repositories</h3>
            </div>
            <div class="panel-body" *ngFor="let repository of repository">
              <p class="list-group-item repos ">
                {{repository.name}} <a href="{{repository.html_url}}" target="_blank">View thisProject</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>