<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <i  class="bi bi-github "></i>
        </a>
      
          <div class="d-flex" >
            <a style="color: black;" class="nav-item nav-link active" routerLink="Search-User" routerLinkActive='active'>Search-User</a>
            <a style="color: black;" class="nav-item nav-link" routerLink="Search-Repository" routerLinkActive='active'>Search-Repository</a>
          </div>
        
        <h3 class="git" ><span style="color: aliceblue;">GitHub</span> Search</h3>
     
      </div>
  </nav>
 