<div class="all">
    <app-navbar></app-navbar>
    <div class="container-fluid homepage mb-5 ">
    
           
    
            .<div class="card text-center  col-md-7 mt-4  cards">
                <img [src]="usersDetails?.avatar_url" class="card-img-top image" alt="profile picture">
                <div class="card-body">
                    <h4 class="card-text">{{usersDetails.login}}</h4>
                    <p>Joined on: {{usersDetails.created_at|date}}</p>
                    <p class="bi bi-person-circle">Followers: {{usersDetails.followers}}</p>
                    <p class="bi bi-person-circle">Following: {{usersDetails.following}}</p>
    
                </div>
            </div>
            <h2 class="text-center repo">My Repositories</h2>
    
            <div class="row">
                    <div class="card col-md-6">
    
                        <img src="" alt="git profile">
                        <div class="card-body">
                            <h4 class="card-title">name</h4>
                            <p class="card-text">location</p>
                            <h6>joining</h6>
                        </div>
                    </div>
                    <div class="card col-md-6">
    
                        <img src="" alt="git profile">
                        <div class="card-body">
                            <h4 class="card-title">name</h4>
                            <p class="card-text">location</p>
                            <h6>joining</h6>
                        </div>
                    </div>
    
    
    
            </div>
       
       
       
       
    
    
    
    
    
    
    
        </div>
        
    </div>
    <app-footer></app-footer>  