<div class="all">
    <app-navbar></app-navbar>
    <div class="container-fluid homepage mb-5 ">
    
           
    
            .<div class="card text-center  col-md-7 mt-4  cards">
                <img [src]="usersDetails?.avatar_url" class="card-img-top" alt="My profile picture">
                <div class="card-body">
                    <h4 class="card-text">{{usersDetails.login}}</h4>
                    <p>{{usersDetails.created_at}}</p>
                    <h1>{{usersDetails.followers}}</h1>
                    <h1>{{usersDetails.following}}</h1>
                    <h6>joining</h6>
                </div>
            </div>
    
            <div class="row">
                    <div class="card col-md-6">
    
                        <img src="" alt="git profile">
                        <div class="card-body">
                            <h4 class="card-title">name</h4>
                            <p class="card-text">location</p>
                            <h6>joining</h6>
                        </div>
                    </div>
                    <div class="card col-md-6">
    
                        <img src="" alt="git profile">
                        <div class="card-body">
                            <h4 class="card-title">name</h4>
                            <p class="card-text">location</p>
                            <h6>joining</h6>
                        </div>
                    </div>
    
    
    
            </div>
       
       
       
       
    
    
    
    
    
    
    
        </div>
        
    </div>
    <app-footer></app-footer>  